#appName {
  margin: 32px auto 26px auto;
  text-align: center;
}

#addComponent {
  display: flex;
  margin: 15px auto;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none !important;
}

@media only screen and (max-width: 1100px) {
    .MuiInputBase-input {
    font-size: 14px !important;
  }
}
