#editor {
  .MuiAppBar-colorPrimary {
    background-color: $white;
    color: $dark;
  }
  .MuiAppBar-colorPrimary {
    box-shadow: none;
  }
}

#tabs {
  .MuiAppBar-colorPrimary {
    background-color: $white;
    color: $dark;
  }
  .MuiAppBar-colorPrimary {
    box-shadow: none;
  }
}

#tabs > header > div > div > span {
  background-color: #ff6c6c;
}

.PrivateTabIndicator-colorSecondary-64 {
  background-color: #ff6c6c !important;
}
