$primary-color: #555;
$primary-color-light: #9652e2;
$primary-color-lighter: #9b7bc4;
$primary-color-dark: #7110d0;
$primary-color-darker: #5b15a2;

$white: #fff; // light
$dark: #222; // light dark
$highlight: #de5285; // fandango pink
$general: #fdfff5 // milk
