.panel {
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  background: aliceblue;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin: 5px 0;
  &:hover {
    background: gray;
    cursor: pointer;
  }
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    &:focus {
      background-color: transparent;
      border-color: transparent;
      outline: none;
    }
  }
}
.currentPanel {
  background: #4242ea;
  color: white;
  &:hover {
    background: gray;
    cursor: pointer;
    color: black;
    button {
        color: black;
    }
  }
  button {
    color: white;
  }
}
