@import "./variables.scss";
@import "./propsList.scss";
@import "./misc.scss";
@import "./modal.scss";
@import "./componentPanel.scss";
@import "./schemaBoard.scss";
@import "./library.scss";
@import "./tree.scss";
@import "./panel.scss";
@import "./tabs.scss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

/* Default Layout of App */
#appContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-columns: 3fr 6fr 3fr;
  font-family: 'Work Sans', sans-serif;
}

#library {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: white;
  padding: 10px 15px;;
  overflow: scroll;
  border-right: solid 1px #e4e0e0;
}

#misc {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: white;
  padding: 25px 38px;
  overflow: scroll;
  border-right: solid 1px #e4e0e0;
}

#dashboard {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: #f7f7f7;
  overflow: scroll;
}

#schemaBoard {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background: white;
  overflow: scroll;
  height: 100%;
}

#componentList {
  margin-top: 10px;
  margin-bottom: 20px;
}

// Nodes on tree graph
// fill: #ff6c6c;
.nodeBase {
  cursor: pointer;
  fill: $primary-color;
  stroke: $primary-color;
  stroke-width: 2;
}

.leafNodeBase {
  cursor: pointer;
  fill: $primary-color;
  stroke: $primary-color;
  stroke-width: 2;
}

.button {
  margin-right: 8px;
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: white;
  &.alert {
    border: 1px solid #ff6c6c;
    color: #ff6c6c;
    background-color: white;
    transform: translateY(1.1);
    transition: 0.3s;
    &:hover {
      background-color: white;
      transform: translateY(1.1);
    }
  }
}

.inline {
  display: flex;
  &.between {
    justify-content: space-between;
  }
}

.space {
  &.up {
    margin-top: 10px;
  }
  &.down {

  }
  &.left {

  }
  &.right {

  }
}

.MuiTab-root {
  min-width: 125px !important;
}

.MuiTabs-flexContainer {
  margin: 0px 41px !important;
}
