@import "./node.scss";
@import "./componentPanel.scss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
}

/* Default Layout of App */
#appContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}
#library {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: darkcyan;
  padding: 10px;
  overflow: scroll;
}

#misc {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background: aqua;
  padding: 10px;
  overflow: scroll;
}

#dashboard {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: aliceblue;
  overflow: scroll;
}

#schemaBoard {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background: aquamarine;
  padding: 10px;
  overflow: scroll;
}

#componentList {
  margin-top: 10px;
  margin-bottom: 20px;
}
